<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar showCancelButton="always"></ion-searchbar>

  <ion-grid class="section" *ngFor="let s of section">
    <ion-row class="header">
      <ion-col class="title">
        {{s.title}}
      </ion-col>
    </ion-row>

    <ion-row class="body" *ngFor="let n of noticia">
      <ion-col >
        <img [src]="s.noticia[0].img" alt="">
      </ion-col>
      <ion-col  class="content">
        {{s.noticia[0].preview}}
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>